In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv("Superstore Sales Dataset.csv")
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,CA-2017-125920,21/05/2017,28/05/2017,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980
9796,9797,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680
9797,9798,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880
9798,9799,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9799,9800,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840

In [2]:
df = df[['Customer ID','Order ID', 'Order Date', 'Ship Date', 'Ship Mode','Region','State','City']]

In [3]:
df.head()

,Customer ID,Order ID,Order Date,Ship Date,Ship Mode,Region,State,City
0,CG-12520,CA-2017-152156,08/11/2017,11/11/2017,Second Class,South,Kentucky,Henderson
1,CG-12520,CA-2017-152156,08/11/2017,11/11/2017,Second Class,South,Kentucky,Henderson
2,DV-13045,CA-2017-138688,12/06/2017,16/06/2017,Second Class,West,California,Los Angeles
3,SO-20335,US-2016-108966,11/10/2016,18/10/2016,Standard Class,South,Florida,Fort Lauderdale
4,SO-20335,US-2016-108966,11/10/2016,18/10/2016,Standard Class,South,Florida,Fort Lauderdale

In [4]:
df.isnull().sum()

Customer ID    0
Order ID       0
Order Date     0
Ship Date      0
Ship Mode      0
Region         0
State          0
City           0
dtype: int64

In [5]:
df.dtypes

Customer ID    object
Order ID       object
Order Date     object
Ship Date      object
Ship Mode      object
Region         object
State          object
City           object
dtype: object

In [6]:
df = df.copy()
df['Order Date'] = pd.to_datetime(df['Order Date'], format='%d/%m/%Y', errors='coerce')
df['Ship Date'] = pd.to_datetime(df['Ship Date'], format='%d/%m/%Y', errors='coerce')

In [7]:
df.dtypes

Customer ID            object
Order ID               object
Order Date     datetime64[ns]
Ship Date      datetime64[ns]
Ship Mode              object
Region                 object
State                  object
City                   object
dtype: object

In [8]:
df[df.duplicated]

,Customer ID,Order ID,Order Date,Ship Date,Ship Mode,Region,State,City
1,CG-12520,CA-2017-152156,2017-11-08,2017-11-11,Second Class,South,Kentucky,Henderson
4,SO-20335,US-2016-108966,2016-10-11,2016-10-18,Standard Class,South,Florida,Fort Lauderdale
6,BH-11710,CA-2015-115812,2015-06-09,2015-06-14,Standard Class,West,California,Los Angeles
7,BH-11710,CA-2015-115812,2015-06-09,2015-06-14,Standard Class,West,California,Los Angeles
8,BH-11710,CA-2015-115812,2015-06-09,2015-06-14,Standard Class,West,California,Los Angeles
...,...,...,...,...,...,...,...,...
9793,KH-16360,CA-2015-127166,2015-05-21,2015-05-23,Second Class,Central,Texas,Houston
9794,KH-16360,CA-2015-127166,2015-05-21,2015-05-23,Second Class,Central,Texas,Houston
9797,CS-12490,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,East,Ohio,Toledo
9798,CS-12490,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,East,Ohio,Toledo
9799,CS-12490,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,East,Ohio,Toledo

In [9]:
df.duplicated().sum()

np.int64(4878)

In [10]:
df.drop_duplicates(inplace=True)

In [11]:
df.duplicated().sum()

np.int64(0)

In [12]:
df['Order ID'].unique()

array(['CA-2017-152156', 'CA-2017-138688', 'US-2016-108966', ...,
       'CA-2015-127166', 'CA-2017-125920', 'CA-2016-128608'],
      shape=(4922,), dtype=object)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4922 entries, 0 to 9796
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Customer ID  4922 non-null   object
 1   Order ID     4922 non-null   object
 2   Order Date   4922 non-null   datetime64[ns]
 3   Ship Date    4922 non-null   datetime64[ns]
 4   Ship Mode    4922 non-null   object
 5   Region       4922 non-null   object
 6   State        4922 non-null   object
 7   City         4922 non-null   object
dtypes: datetime64[ns](2), object(6)
memory usage: 346.1+ KB

In [14]:
df.to_csv('Order_Data.csv', index=False)

In [15]:

orders_per_customer = df.groupby('Customer ID')['Order ID'].count().sort_values(ascending=False)
orders_per_customer.head(25)

Customer ID
EP-13915    17
ZC-21910    13
CK-12205    13
JE-15745    13
PG-18820    13
BD-11320    12
BP-11095    12
SH-19975    12
NS-18640    12
PK-19075    12
KL-16645    12
LC-16885    12
CS-12250    12
KB-16585    12
CL-12565    12
RB-19465    12
RP-19390    12
SJ-20125    12
EA-14035    12
AH-10690    12
HG-14965    12
KD-16495    12
DK-12835    12
CC-12220    11
LA-16780    11
Name: Order ID, dtype: int64

In [16]:

orders = df.groupby([df['Order Date'].dt.year.sort_values(ascending = False), df['Order Date'].dt.month_name().sort_values(ascending = False)])['Order ID'].count()
orders

Order Date  Order Date
2015        April          63
            August         70
            December      139
            February       28
            January        30
            July           64
            June           64
            March          69
            May            68
            November      145
            October        78
            September     129
2016        April          71
            August         67
            December      159
            February       36
            January        29
            July           64
            June           66
            March          75
            May            72
            November      157
            October        86
            September     137
2017        April          88
            August         89
            December      172
            February       45
            January        48
            July           95
            June           95
            March          85
            May           107
            November      182
            October       103
            September     186
2018        April         115
            August        109
            December      223
            February       52
            January        67
            July          108
            June          129
            March         117
            May           116
            November      259
            October       144
            September     222
Name: Order ID, dtype: int64

In [17]:
ship_mode_counts = df.groupby('Ship Mode')['Order ID'].count().sort_values(ascending = False)
ship_mode_counts

Ship Mode
Standard Class    2945
Second Class       944
First Class        772
Same Day           261
Name: Order ID, dtype: int64