In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   object
 3   Ship Date      9800 non-null   object
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB

In [3]:
df = df[['Order ID', 'Product ID','Sales']]

In [4]:
df.isnull().sum()

Order ID      0
Product ID    0
Sales         0
dtype: int64

In [5]:
df.dtypes

Order ID       object
Product ID     object
Sales         float64
dtype: object

In [6]:
df[df.duplicated]

            Order ID       Product ID    Sales
3406  US-2015-150119  FUR-CH-10002965  281.372

In [7]:
df.duplicated().sum()

np.int64(1)

In [12]:
df = df.copy()
df.drop_duplicates(inplace=True)

In [13]:
df['Sales'].sum()

np.float64(2261255.4107)

In [14]:
df.to_csv('Order_Details.csv', index=False)