In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv("Superstore Sales Dataset.csv")
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,CA-2017-125920,21/05/2017,28/05/2017,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980
9796,9797,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680
9797,9798,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880
9798,9799,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9799,9800,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   object
 3   Ship Date      9800 non-null   object
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB

In [3]:
df = df[['Product ID', 'Category', 'Sub-Category', 'Product Name']]

In [4]:
df.isnull().sum()

Product ID      0
Category        0
Sub-Category    0
Product Name    0
dtype: int64

In [5]:
df.dtypes

Product ID      object
Category        object
Sub-Category    object
Product Name    object
dtype: object

In [6]:
df[df.duplicated]

,Product ID,Category,Sub-Category,Product Name
24,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table
59,TEC-AC-10002167,Technology,Accessories,Imation 8gb Micro Traveldrive Usb 2.0 Flash Drive
90,TEC-PH-10004093,Technology,Phones,Panasonic Kx-TS550
120,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...
139,FUR-FU-10001706,Furniture,Furnishings,Longer-Life Soft White Bulbs
...,...,...,...,...
9795,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St..."
9796,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip"
9797,TEC-PH-10004977,Technology,Phones,GE 30524EE4
9798,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger
9799,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive

In [7]:
df.duplicated().sum()

np.int64(7907)

In [8]:
df = df.copy()
df.drop_duplicates(inplace=True)

In [9]:
df.duplicated(subset=['Product ID','Product Name']).sum()

np.int64(0)

In [10]:
df.duplicated(subset=['Product ID']).sum()

np.int64(32)

In [11]:
df.drop_duplicates(subset=['Product ID'],inplace = True)

In [12]:
df.duplicated(subset=['Product Name']).sum()

np.int64(44)

In [13]:
df.drop_duplicates(subset=['Product Name'],inplace = True)

In [14]:
df.to_csv('Products_Data.csv', index=False)

In [15]:
table = (df.groupby('Sub-Category')['Product ID'].nunique().sort_values(ascending=False).head(10).reset_index())
table

  Sub-Category  Product ID
0        Paper         269
1      Binders         208
2       Phones         184
3  Furnishings         180
4          Art         156
5  Accessories         144
6      Storage         129
7   Appliances          96
8       Chairs          87
9       Labels          70

In [16]:
table = ( df.groupby('Category')['Product Name'].nunique().sort_values(ascending=False).reset_index())
table

          Category  Product Name
0  Office Supplies          1042
1       Technology           403
2        Furniture           372

In [17]:
product_counts = (df.groupby(['Category', 'Sub-Category'])['Product ID'].count() .reset_index(name='Total Product Count'))
product_counts

           Category Sub-Category  Total Product Count
0         Furniture    Bookcases                   49
1         Furniture       Chairs                   87
2         Furniture  Furnishings                  180
3         Furniture       Tables                   56
4   Office Supplies   Appliances                   96
5   Office Supplies          Art                  156
6   Office Supplies      Binders                  208
7   Office Supplies    Envelopes                   44
8   Office Supplies    Fasteners                   34
9   Office Supplies       Labels                   70
10  Office Supplies        Paper                  269
11  Office Supplies      Storage                  129
12  Office Supplies     Supplies                   36
13       Technology  Accessories                  144
14       Technology      Copiers                   13
15       Technology     Machines                   62
16       Technology       Phones                  184