In [2]:
import pandas as pd
file_path = "Data.xlsx"
df = pd.read_excel(file_path)
df.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [18]:
top_cities = df.groupby(['Region', 'City'])['Customer ID'].nunique().reset_index(name='unique_customers')
top_cities = top_cities.sort_values(['Region', 'unique_customers'], ascending=[True, False])
top_3_cities = top_cities.groupby('Region').head(3)
top_3_cities

      Region           City  unique_customers
75   Central        Houston               170
27   Central        Chicago               150
36   Central         Dallas                77
253     East  New York City               349
263     East   Philadelphia               237
205     East       Columbus                52
344    South   Jacksonville                61
310    South       Columbus                36
362    South          Miami                33
491     West    Los Angeles               300
544     West  San Francisco               230
555     West        Seattle               187

In [6]:
order_freq = df.groupby(['Segment', 'Customer ID']).size().reset_index(name='order_count')
avg_order_freq = order_freq.groupby('Segment')['order_count'].mean().sort_values(ascending=False)
print("\nQ2 - Customer segments by average order frequency:\n", avg_order_freq)

Q2 - Customer segments by average order frequency:
 Segment
Corporate      12.512712
Consumer       12.471883
Home Office    11.790541
Name: order_count, dtype: float64

In [9]:
top_products = df.groupby('Product Name')['Sales'].sum().sort_values(ascending=False).head(10)
print("\nQ3 - Top 10 products by sales:\n", top_products)

Q3 - Top 10 products by sales:
 Product Name
Canon imageCLASS 2200 Advanced Copier                                          61599.824
Fellowes PB500 Electric Punch Plastic Comb Binding Machine with Manual Bind    27453.384
Cisco TelePresence System EX90 Videoconferencing Unit                          22638.480
HON 5400 Series Task Chairs for Big and Tall                                   21870.576
GBC DocuBind TL300 Electric Binding System                                     19823.479
GBC Ibimaster 500 Manual ProClick Binding System                               19024.500
Hewlett Packard LaserJet 3310 Copier                                           18839.686
HP Designjet T520 Inkjet Large Format Printer - 24" Color                      18374.895
GBC DocuBind P400 Electric Binding System                                      17965.068
High Speed Automatic Electric Letter Opener                                    17030.312
Name: Sales, dtype: float64

In [10]:
product_count = df.groupby('Sub-Category')['Product Name'].nunique()
print("\nQ4 - Number of products in each sub-category:\n", product_count)

Q4 - Number of products in each sub-category:
 Sub-Category
Accessories    147
Appliances      97
Art            157
Binders        211
Bookcases       50
Chairs          88
Copiers         13
Envelopes       44
Fasteners       34
Furnishings    186
Labels          70
Machines        63
Paper          277
Phones         189
Storage        131
Supplies        36
Tables          56
Name: Product Name, dtype: int64

In [11]:
df['year_month'] = df['Order Date'].dt.to_period('M')
monthly_orders = df.groupby(['City', 'year_month']).size().reset_index(name='orders')
monthly_orders['orders_lag'] = monthly_orders.groupby('City')['orders'].shift(1)
monthly_orders['growth_rate'] = (monthly_orders['orders'] - monthly_orders['orders_lag']) / monthly_orders['orders_lag']
fastest_growing = monthly_orders.groupby('City')['growth_rate'].mean().sort_values(ascending=False)
print("\nQ5 - Cities with fastest-growing order volume:\n", fastest_growing.head(10))

Q5 - Cities with fastest-growing order volume:
 City
Superior       7.0
Miramar        6.0
Danville       5.0
Sunnyvale      4.0
Saginaw        4.0
Thornton       3.5
Bedford        3.0
Tyler          3.0
La Crosse      3.0
West Jordan    3.0
Name: growth_rate, dtype: float64

In [14]:
df['quarter'] = df['Order Date'].dt.to_period('Q')
orders_by_quarter = df.groupby('quarter').size().sort_values(ascending=False)
print("\nQ6 - Quarters with highest order volume:\n", orders_by_quarter)

Q6 - Quarters with highest order volume:
 quarter
2018Q4    1209
2017Q4     896
2018Q3     890
2016Q4     796
2015Q4     739
2017Q3     720
2018Q2     675
2017Q2     585
2016Q3     579
2015Q3     555
2018Q1     484
2016Q2     431
2015Q2     381
2017Q1     333
2015Q1     277
2016Q1     249
Freq: Q-DEC, dtype: int64

In [15]:
orders_by_shipmode = df.groupby('Ship Mode').size()
print("\nQ7 - Orders by Ship Mode:\n", orders_by_shipmode)

Q7 - Orders by Ship Mode:
 Ship Mode
First Class       1501
Same Day           538
Second Class      1902
Standard Class    5858
dtype: int64

In [16]:
df['month'] = df['Order Date'].dt.to_period('M')
sales_by_month = df.groupby('month')['Sales'].sum().sort_values(ascending=False)
print("\nQ8 - Month with highest total sales:\n", sales_by_month.head(1))

Q8 - Month with highest total sales:
 month
2018-11    117938.155
Freq: M, Name: Sales, dtype: float64

In [17]:
order_sales = df.groupby('Order ID')['Sales'].sum().sort_values(ascending=False).head(10)
print("\nQ9 - Top 10 orders with highest sales:\n", order_sales)

Q9 - Top 10 orders with highest sales:
 Order ID
CA-2015-145317    23661.228
CA-2017-118689    18336.740
CA-2018-140151    14052.480
CA-2018-127180    13716.458
CA-2015-139892    10539.896
CA-2018-166709    10499.970
CA-2015-116904     9900.190
CA-2017-117121     9892.740
US-2017-107440     9135.190
CA-2017-158841     8805.040
Name: Sales, dtype: float64